/* --- VARIABLES --- */
:root {
    --morado: #4B0082;
    --moradoNav: #320056;
    --dorado: #D4AF37;
    --blanco: #ffffff;
    --fondo: #f9f9f9;
}

/* --- GENERAL --- */
body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../imagenes/Damasco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* --- CABECERA--- */
header {
    background-color: var(--morado);
    color: var(--blanco);
    padding-top: 20px;
    border-bottom: 5px solid var(--dorado);
    text-align: center;
}

.caja-logo img {
    width: 120px;
    display: block;
    margin: 0 auto 10px auto;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
    transition: transform 0.5s ease;
}

.caja-logo img:hover {
    transform: scale(1.1);
}

.titulos h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.titulos p{
    color:var(--dorado); 
    margin:0;
}

/* --- MENÚ --- */
nav {
    background-color: var(--moradoNav);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    padding: 15px 25px;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: var(--dorado);
    color: var(--morado);
}

/* --- MAIN --- */
main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: var(--blanco);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid var(--dorado);
    border-radius: 10px;
}

#bienvenida h2 {
    color: var(--morado);
    border-bottom: 2px solid var(--dorado);
    text-align: center;
}

#bienvenida p {
    text-align: justify;
    font-size: 1.1rem;
}

.escudo{
    text-align: center; 
    margin-top: 30px;
}

.escudo img{
    width: 300px; 
    filter: drop-shadow(0 0 10px rgb(106, 106, 106)); 
}

.btn-subir {
    position: fixed;   /* Se queda fijo en la pantalla */
    bottom: 20px;      /* Abajo */
    right: 20px;       /* Derecha */
    
    background: #D4AF37; /* Fondo Dorado */
    color: #fff;         /* Texto blanco */
    
    padding: 10px 15px;  /* Tamaño del botón */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;
    border-radius: 5px;  /* Bordes un pelín redondeados */
}

.btn-subir:hover {
    background: #4B0082; /* Cambia a Morado al pasar el ratón */
}

/* --- FOOTER --- */
footer {
    background-color: #1a1a1a; 
    color: #cccccc; 
    border-top: 3px solid var(--dorado); 
    padding: 30px 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: var(--dorado); 
    text-decoration: none;
}

/* --- MÓVIL --- */
@media (max-width: 700px) {
    nav ul { 
        flex-direction: column; 
    }
    nav a { 
        text-align: center; 
        border-bottom: 1px solid rgba(255,255,255,0.1); 
    }
}